.contacts {
  background-color: rebeccapurple;
  padding: 0;
}

.contact {
  align-items: center;
  background-color: #d0d0d0;
  border: none;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  margin: 0.2rem 0;
  padding: 0.2rem 0;
  width: 100%;
}

.contact .info {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.contact nav {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;
}

.contact button {
  background-color: green;
  border: none;
  border-radius: 50%;
  color: white;
  height: 2rem;
  margin: 0.1rem;
  width: 2rem;
}

.contact .name {

  margin: 0;
  width: fit-content;
}

.contact .phone {

  margin: 0;
  width: fit-content;
}
