.edit .personal {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.25rem;
}

.edit .profile-pic {
  background-color: rebeccapurple;
  height: max-content;
  flex-grow: 1;
}

.edit .side-pic {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
}

.edit .personal input {
  height: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.info .addable {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.info input {
  flex-grow: 1;
  height: fit-content;
  padding: 0.5rem;
  margin: 0.5rem;
  max-width: 100%;
}