* {
  box-sizing: border-box;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;

  --primary-color-lighter: #eee;
  --secondary-color-darker-transparent: #6398;
  --primary-background-translucid: rgba(43, 12, 74, 0.521);
}

body {
  align-items: center;
  background-image: url(./background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: auto;
  z-index: -2;
}

section {
  margin-top: 2.5rem;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  background-color: var(--primary-background-translucid);
  backdrop-filter: blur(0.1rem);
  border-radius: 1rem;
  color: var(--primary-color-lighter);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

form label {
  font-size: 1.5rem;
}

input {
  background-color: var(--secondary-color-darker-transparent);
  color: var(--primary-color-lighter);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
}

.form-input {
  display: flex;
  flex-direction: column;
}

#myCanvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.sign-result {
  background-color: var(--primary-background-translucid);
  backdrop-filter: blur(0.2rem);
  border-radius: 1rem;
  color: var(--primary-color-lighter);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.hidden {
  display: none;
}