form.edit {
  align-items: left;
  background-color: var(--greener);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8rem;
  max-width: 768px;
}

form.edit .profile-pic-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
}

form.edit #profilepic {
  display: block;
}

form.edit .profile-pic {
  border-radius: 0.75rem;
  margin-bottom: 0.2rem;
  max-width: 100%;
}

#profilepic {
  margin-bottom: 1rem;
}

#deleteButton {
  background-color: red;
}

#deleteButton:disabled {
  background-color: var(--lighter-grey);
}