.nice-input {
  background-color: #0000;
  border: none;
  border-bottom: 1px solid #0002;
  font-weight: 300;
  font-size: 1.2rem;
}

.nice-input:focus {
  background-color: #fff5;
  border-bottom: 0.15rem solid #0d0;
  outline: none;
}

.nice-btn-green {
  background-color: #0d0;
  border: none;
  border-bottom: 0.15rem solid black;
  color: white;
  padding: 1rem 2rem;
}

.nice-btn-green:disabled {
  background-color: #0d05;
  border-bottom: 0.15rem solid #0005;
}
