@font-face {
  font-family: 'digital';
  src: url('./src/fonts/digital-7.ttf');
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: green;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 2rem;
  margin: 0.8rem;
}

button {
  border: 0.2rem outset rgba(128, 128, 128, 0.781);
  box-shadow: 2px 2px 3px 2px #00000060;
  font-size: 1.2rem;
}

button:active {
  border: 0.2rem inset rgba(128, 128, 128, 0.781);
  box-shadow: -1px -1px 8px 1px #0000007a;
  font-size: 1rem;
}

.app-calculator {
  align-items: center;
  display: flex;
  flex-flow: column nowrap; 
  height: 95vh;
  width: 100%;
}

.calculator {
  background-color: grey;
  border: 0.25rem inset rgba(255, 255, 255, 0.459);
  border-radius: 2rem;
  box-shadow: -3px -3px 12px 5px #000000;
  padding: 0.2rem;
}

.header-io {
  border-bottom: 0.15rem solid rgba(0, 0, 0, 0.288);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.5rem;
  width: 100%;
}

.screen {
  background-color: rgb(199, 199, 199);
  border-radius: 0.25rem;
  display: flex;
  margin: 0;
  padding: 1rem;
}

.screen input {
  background-color: #7f8a76;
  border: 0.1rem solid white;
  box-shadow: inset 0px 0px 11px 1px #000000;
  color: black;
  font-family: "digital";
  font-size: 2rem;
  letter-spacing: 0.15rem;
  outline: none;
  padding: 0.8rem;
  width: 100%;
}

#memoryIdentificator {
  font-size: 0.8em;
  position: absolute;
  translate: 0.2em -0.9em;
}

.upper-inputs {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
}

.upper-inputs button {
  background-color: #000000;
  border-radius: 0.325rem;
  color: white;
  margin: 0.25rem;
  padding: 0.5rem;
}

.main-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
}

.center {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-width: 12rem;
  min-height: 18rem;
}

.center button {
  background-color: rgb(20, 20, 20);
  border-radius: 0.325rem;
  color: white;
  margin: 0.25rem;
  padding: 0.5rem;
}

.right-side {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr;
  margin-left: 0.5rem;
}

.right-side button {
  background-color: rgb(66, 66, 66);
  border-radius: 0.325rem;
  color: white;
  padding: 0.5rem;
  margin: 0.25rem;
}

@media (max-width: 300px) {
  * {
    font-size: 50%;
  }
}

@media (min-width: 301px) {
  * {
    font-size: 62.5%;
  }
}

@media (min-width: 361px) {
  * {
    font-size: 75%;
  }
}

@media (min-width: 420px) {
  * {
    font-size: 100%;
  }
}

@media (min-width: 1024px) {
  * {
    font-size: 125%;
  }
}

@media (min-width: 1600px) {
  * {
    font-size: 150%;
  }
}


@media (min-width: 2000px) {
  * {
    font-size: 200%;
  }
}
